/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
  
/* actual scrolling pill/rectangle that you drag */
::-webkit-scrollbar-thumb {
    background: #211D3D;
    border-radius: 5px;
}
  
/* scroll on hover */
::-webkit-scrollbar-thumb:hover {
    background: #312b58;
}