body {
    background: linear-gradient(#1a1828, #100f18);
    background-repeat: no-repeat;
    background-color: #100f18;
    min-height: 100%;
    height: 100vh;
    color: #8c85b6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 0;
}

#head {
    display: flex;
    gap: 10px;
    color: #8c85b6;
    align-items: center;
    text-align: center;
    user-select: none;
    margin-top: 10px;
    margin-left: 5px;
}

a:visited { color: #8c85b6; }
#head:nth-child(1) { cursor: pointer; } /* ignore pls */

#ico {
    width: 42px;
    cursor: pointer;
}

#bnews {
    margin-left: 70%;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

#mid {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 50%;
}

#sbtitle {
    font-size: 20px;
    user-select: none;
}

#sbarContainer {
    display: flex;
    border: 1px solid rgb(84, 118, 145);
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #211D3D;
}

#loadingSpinner {
    margin-top: 9px;
    margin-left: 25px;
}

#sbar {
    border: none;
    border-radius: 8px;
    background-color: #211D3D;
    height: 32px;
    text-align: left;
    align-content: center;
    padding-left: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #686484;
    width: 85%;
    margin-bottom: 0px;
    outline: none;
}

#sbarNote {
    font-size: 10px;
    font-weight: normal;
    user-select: none;
}

#results {
    margin-top: 10px;
    user-select: none;
}

#results > div:hover {
    color: white;
    cursor: pointer;
}

#singlerescon {
    display: none;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
    text-align: left;
}

#titleresult {
    font-size: 26px;
    margin-bottom: 20px;
}

#readerControlsContainer {
    display: none;
    position: sticky;
    margin-top: 30px;
    margin-left: 30px;
    top: 10px;
    align-items: center;
    text-align: left;
}

#readerControlsReferenceCon {
    display: flex;
    margin-top: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    gap: 10px;
    width: fit-content;
    font-size: 12px;
    background-color: #211D3D;
    border: 1px solid #6D698D;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #090811;
    font-weight: normal;
    user-select: none;
}

#readerControlReferenceTag {
    margin-right: 10px;
    font-style: italic;
}

#readerControlPrevious:hover, #readerControlNext:hover {
    cursor: pointer;
    color: white;
}

#readerControlSbar {
    position: static;
    border: #6D698D solid 1px;
    border-radius: 8px;
    background-color: #211D3D;
    height: 32px;
    text-align: left;
    align-content: center;
    padding-left: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #686484;
    width: 35%;
    box-shadow: 0px 0px 20px #090811;
}